.thankyou
    display: flex
    justify-content: center
    align-items: center
    width: 100dvw
    height: 100dvh
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 400

    .thankyou__wrapper
        width: 318px
        text-align: center
        color: $white

        .thankyou__title
            font-size: 32px
            line-height: 48px

        .thankyou__text
            font-size: 18px
            line-height: 26px

        .thankyou__btn
            width: 318px
            margin-top: 16px